@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "variables";

.directory {
  padding: 20rem 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .directory-container {
    position: relative;
    background-color: $main-white;
    width: 800rem;
    height: 400rem;
    padding: 5rem;
    overflow: hidden;

    &.animating {
      animation: none;

      &.fading {
        animation: appear-login .6s $main-timing-function;
      }

      &.disappearing {
        animation: none;

        &.fading {
          animation: appear-login .6s $main-timing-function-reversed reverse;
        }
      }
    }

    .directory-inner {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      .back-button,
      .search-delete-button,
      .edit-reset-button,
      .save-new-button {
        position: absolute;
        width: 30rem;
        height: 30rem;
        line-height: 30rem;
        font-size: 18rem;
        font-weight: 800;
        text-align: center;
        vertical-align: center;
        cursor: pointer;
        overflow: hidden;
        color: $gray-600;
      }

      .container {
        outline: 200rem solid $main-white;
        width: 710rem;
        height: 320rem;
        display: flex;
        flex-direction: column;
        align-items: stretch;

        .top-content {
          flex-grow: 38;
          display: flex;
          align-items: stretch;
        }

        .bottom-content {
          flex-grow: 62;
          display: flex;
          align-items: stretch;
        }

        .divider {
          background-color: $main-white;
          height: 40rem;
        }

        .border {
          background-color: $main-white;
          width: 20rem;
        }

        .text-editor {
          position: relative;
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          align-items: stretch;

          &:last-child .title {
            right: 0;
          }

          .title {
            position: absolute;
            left: 0;
            right: -20rem;
            background-color: $main-white;
            overflow: hidden;
            top: -1.25em;
            font-size: 17rem;
            font-weight: 600;
            color: rgba($gray-900, .35);
            line-height: 1.25em;
            height: 1.25em;
          }

          .content {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border: 5rem solid rgba($gray-900, .2);
            display: flex;
            align-items: stretch;
            overflow: hidden;

            &.animating {
              animation: appear-login .2s $main-timing-function backwards;

              &.disappearing {
                animation: appear-login .2s $main-timing-function forwards reverse;
              }
            }

            .wrapper {
              position: relative;
              width: 100%;
              height: 100%;
              padding: 3rem;
              background-color: $main-white;
              color: rgba($gray-900, .35);
              font-weight: 600;
              white-space: pre-line;
              line-height: 16rem;
              word-break: break-all;
              -ms-overflow-style: none;
              overflow-y: scroll;
              overflow: -moz-scrollbars-none;

              &::-webkit-scrollbar {
                display: none;
              }

              .editable-content {
                outline: none;
                width: 100%;
                display: block!important;
                min-height: 16rem;

                &.search.show-placeholder {
                  height: 100%;

                  &:before {
                    content: attr(data-placeholder);
                    display: inline;
                    text-transform: initial;
                    float: left;
                    color: rgba($gray-900, .2);
                  }
                }

                &.search:not(.show-placeholder) {
                  &:before {
                    content: attr(data-before);
                    display: inline;
                    color: rgba($gray-900, .2);
                  }

                  &:after {
                    content: attr(data-after);
                    display: inline;
                    color: rgba($gray-900, .2);
                  }
                }

                br {
                  display: none;
                }

                &, * {
                  display: inline;
                  font-size: 12rem !important;

                  &::selection {
                    color: $gray-600;
                    background: transparent;
                  }

                  &::-moz-selection {
                    color: $gray-600;
                    background: transparent;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .commands {
    padding: 40rem 0;

    .commands-container {
      width: 370rem;
      height: 1300rem;

      &.animating,
      &.animating.fading {
        animation: appear-mobile-odd .6s $main-timing-function;

        &.disappearing {
          animation: appear-mobile-even .6s $main-timing-function-reversed reverse;
        }
      }

      .commands-inner {
        .container {
          width: 260rem;
          height: 1210rem;

          .top-content {
            flex-direction: column;
            flex-grow: 1;
          }

          .bottom-content  {
            flex-direction: column;
            flex-grow: 1;
          }

          .divider {
            height: 40rem;
          }

          .border {
            width: initial;
            height: 40rem;
          }

          .text-editor {
            .content {
              animation: none!important;
            }

            .title {
              font-size: 20rem;
              left: 0;
              right: 0;
            }

            .content {
              .wrapper {
                line-height: 16rem;

                .editable-content {
                  min-height: 14rem;

                  &, * {
                    font-size: 14rem !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}