@font-face {
  font-family: "Raleway";
  src: url("/fonts/RalewayLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/RalewayMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/RalewaySemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/RalewayBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/RalewayExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
