@import "../node_modules/bootstrap/scss/_variables.scss";

@keyframes appear-top-left {
  from {
    transform: translate(-130rem, -130rem);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes appear-top-right {
  from {
    transform: translate(130rem, -130rem);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes appear-bottom-left {
  from {
    transform: translate(-130rem, 130rem);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes appear-bottom-right {
  from {
    transform: translate(130rem, 130rem);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes appear-mobile-odd {
  from {
    transform: translate(260rem, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes appear-mobile-even {
  from {
    transform: translate(-260rem, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes appear-login {
  from {
    transform: scale(0.62, 0.62);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes appear-login {
  from {
    transform: scale(0.62, 0.62);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes appear-separate-top-left {
  from {
    transform: scale(1.05264, 1.05264);
    transform-origin: left top 0;
  }
  to {
    transform: scale(1, 1);
    transform-origin: left top 0;
  }
}

@keyframes appear-separate-top-right {
  from {
    transform: scale(1.05264, 1.05264);
    transform-origin: right top 0;
  }
  to {
    transform: scale(1, 1);
    transform-origin: right top 0;
  }
}

@keyframes appear-separate-bottom-left {
  from {
    transform: scale(1.05264, 1.05264);
    transform-origin: left bottom 0;
  }
  to {
    transform: scale(1, 1);
    transform-origin: left bottom 0;
  }
}

@keyframes appear-separate-bottom-right {
  from {
    transform: scale(1.05264, 1.05264);
    transform-origin: right bottom 0;
  }
  to {
    transform: scale(1, 1);
    transform-origin: right bottom 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes login-success {
  0% {
    background-color: $gray-500;
    transform: scale(1, 1);
  }
  
  38% {
    background-color: $green;
    transform: scale(1.4, 1.4);
  }
  
  100%{
    background-color: $gray-500;
    transform: scale(1, 1);
  }
}

@keyframes login-fail {
  0% {
    background-color: $gray-500;
    transform: scale(1, 1);
  }

  38% {
    background-color: $red;
    transform: scale(1.4, 1.4);
  }

  100%{
    background-color: $gray-500;
    transform: scale(1, 1);
  }
}