@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "variables";

.login {
  font-size: 0.1vw;
  padding: 20em 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .cursor-shadow {
    width: 600em;
    height: 600em;

    &.show-always {
      width: 2000em;
      height: 2000em;
    }
  }

  .container {
    position: relative;
    background-color: $main-white;
    width: 400em;
    height: 300em;
    padding: 5em;
    overflow: hidden;

    &.animating {
      animation: appear-login .6s $main-timing-function;

      &.disappearing {
        animation: appear-login .6s $main-timing-function-reversed reverse;
      }
    }

    .inner {
      position: relative;
      height: 100%;
      padding-bottom: 40em;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      .login-fields {
        position: relative;
        outline: 200em solid $main-white;
        width: 300em;
        height: 160em;
        cursor: auto;

        button {
          display: none;
        }

        .label-container {
          position: relative;
          background-color: $main-white;
          height: 40em;
          cursor: pointer;
          display: flex;
          align-items: flex-end;
          overflow: hidden;

          label {
            font-size: 20em;
            height: 1.25em;
            line-height: 1.25em;
            font-weight: 600;
            color: rgba($gray-900, .3);
            cursor: auto;
          }
        }

        .field {
          height: 40em;
          padding: 5em;
          background-color: rgba($gray-900, .2);

          input {
            width: 100%;
            height: 100%;
            border: none;
            background-color: $main-white;
            border-radius: 0;
            outline: none;
            font-size: 20em;
            padding: 0 0.25em;
            font-weight: 600;
            color: rgba($gray-900, .3);

            &::selection {
              color: $gray-600;
              background: transparent;
            }

            &::-moz-selection {
              color: $gray-600;
              background: transparent;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .login {
    font-size: 1px;
  }
}

@media only screen and (max-width: 768px) {
  .login .container {
    &.animating {
      animation: appear-mobile-odd .6s $main-timing-function;

      &.disappearing {
        animation: appear-mobile-even .6s $main-timing-function-reversed reverse;
      }
    }
  }
}

@media only screen and (max-width: 530px) {
  .login {
    font-size: 0.1887vw;
  }
}