<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Assembler</title>
</head>

<body>
    <div id="render-target"></div>
</body>
