@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "variables";

.main {
  padding: 20rem 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .nav-blocks-container {
    width: 800rem;
    height: 400rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    .nav-block {
      position: relative;
      width: 380rem;
      height: 190rem;
      background-color: $main-white;
      padding: 5rem;
      overflow: hidden;

      .inner {
        position: relative;
        height: 100%;
        line-height: 180rem;
        background-color: $main-white;
        text-align: center;
        vertical-align: center;
        overflow: hidden;
        cursor: pointer;
        font-size: 20rem;
        font-weight: 700;

        .text-shadow {
          position: absolute;
          width: 100%;
          height: 100%;
          color: $gray-600;
        }

        .text {
          position: absolute;
          width: 100%;
          height: 100%;
          color: rgba($gray-900, .3);

          &.animating {
            animation: appear .4s $main-timing-function;

            &.fading {
              animation: none;
            }

            &.disappearing {
              animation: appear .4s $main-timing-function-reversed reverse;

              &.fading {
                animation: none;
              }
            }
          }
        }
      }
    }

    .nav-block-top-left {
      &.animating {
        animation: appear-separate-top-left .4s $main-timing-function;

        &.fading {
          animation: appear-top-left .6s $main-timing-function;
        }

        &.disappearing {
          animation: appear-separate-top-left .4s $main-timing-function-reversed reverse;

          &.fading {
            animation: appear-top-left .6s $main-timing-function-reversed reverse;
          }
        }
      }
    }

    .nav-block-top-right {
      &.animating {
        animation: appear-separate-top-right .4s $main-timing-function;

        &.fading {
          animation: appear-top-right .6s $main-timing-function;
        }

        &.disappearing {
          animation: appear-separate-top-right .4s $main-timing-function-reversed reverse;

          &.fading {
            animation: appear-top-right .6s $main-timing-function-reversed reverse;
          }
        }
      }
    }

    .nav-block-bottom-left {
      &.animating {
        animation: appear-separate-bottom-left .4s $main-timing-function;

        &.fading {
          animation: appear-bottom-left .6s $main-timing-function;
        }

        &.disappearing {
          animation: appear-separate-bottom-left .4s $main-timing-function-reversed reverse;

          &.fading {
            animation: appear-bottom-left .6s $main-timing-function-reversed reverse;
          }
        }
      }
    }

    .nav-block-bottom-right {
      &.animating {
        animation: appear-separate-bottom-right .4s $main-timing-function;

        &.fading {
          animation: appear-bottom-right .6s $main-timing-function;
        }

        &.disappearing {
          animation: appear-separate-bottom-right .4s $main-timing-function-reversed reverse;

          &.fading {
            animation: appear-bottom-right .6s $main-timing-function-reversed reverse;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .main {
    padding: 40rem 0;

    .nav-blocks-container {
      width: 370rem;
      height: 820rem;
      flex-direction: column;

      .nav-block {
        width: 370rem;

        .inner .text {
          animation: none!important;
        }
      }

      .nav-block-top-left,
      .nav-block-bottom-left {
        &.animating,
        &.animating.fading {
          animation: appear-mobile-odd .6s $main-timing-function;

          &.disappearing {
            animation: appear-mobile-even .6s $main-timing-function-reversed reverse;
          }
        }
      }

      .nav-block-top-right,
      .nav-block-bottom-right {
        &.animating,
        &.animating.fading {
          animation: appear-mobile-even .6s $main-timing-function;

          &.disappearing {
            animation: appear-mobile-odd .6s $main-timing-function-reversed reverse;
          }
        }
      }
    }
  }
}